{% extends 'base.html.twig' %}

{% block title %}La Team Leo{% endblock %}

{% block body %}

<section id="team">
    <div>
        <h1>Notre <strong>équipe</strong></h1>
    </div>
    <div>
        <article>
            <div data-aos="fade-up" class="adrien">
                <div>
                    <h5>Adrien LE COQ</h5>
                    <h6>Webmaster </h6>
                </div>
            </div>
        </article>
        <article>
            <div data-aos="fade-up" class="naike">
                <div>
                    <h5>Naîké FARIBALDI</h5>
                    <h6>UX Designer </h6>
                </div>
            </div>

            <div data-aos="fade-up" class="kevin">
                <div>
                    <h5>Kevin FRITALE</h5>
                    <h6>UI Designer </h6>
                </div>
            </div>
        </article>
        <article>
            <div data-aos="fade-up" class="ludovic">
                <div>
                    <h5>Ludovic Cantobion</h5>
                    <h6>UI DESIGNER </h6>
                </div>
            </div>

            <div data-aos="fade-up" class="celia">
                <div>
                    <h5>Célia SALIPLU</h5>
                    <h6>UI DESIGNER </h6>
                </div>
            </div>
        </article>
        <article>
            <div data-aos="fade-up" class="alexis">
                <div>
                    <h5>Alexis PERRIN</h5>
                    <h6>UI DESIGNER </h6>
                </div>
            </div>
        </article>
    </div>
    
</section>

<section id="securite">
    <article>
        <img src={{asset('images/image/team_child.png')}}>
    </article>

    <article>
         <b><span>La </span>sécurité <span>de vos </span>enfants <span>est notre priorité </span></b>
         <p>Parce qu’accompagner son enfant est une étape primordiale dans l’émancipation de celui ci, nous sommes là pour vous aider dans cette étape importante. 
            Suivez le en toute sécurité et de manière flexible dans ses premières libertés grâce à notre service innovant et complémentaire. 
            Depuis chez vous, où même dans votre lieu de travail, les possibilités s’adaptent à toute condition. On plaisante pas avec la sécurité de vos petits aventuriers ! 
         </p>
    </article>
</section>






{% endblock %}
