{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

<section id="home">
  <ul>
    <li><a href="{{path('home')}}">Marques</a></li>
    <li><a href="{{path('app_product')}}">Produits</a></li>
    <h1>Tableau de bord</h1>
    <h2>Bienvenue</h2>
</ul>

<img src={{asset('images/plan.png')}} >

</section>




 <div id="map"></div>

 



<script>
    function initMap(): void {
  const myLatLng = { lat: -25.363, lng: 131.044 };

  const map = new google.maps.Map(
    document.getElementById("map") as HTMLElement,
    {
      zoom: 4,
      center: myLatLng,
    }
  );

  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "Hello World!",
  });
}

declare global {
  interface Window {
    initMap: () => void;
  }
}
window.initMap = initMap;
export {};
</script>
{% endblock %}


