@font-face {
	font-family: 'RNS_Sanz';
    font-weight: bolder;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-Black.woff2) format('woff2'),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-Black.ttf) format('truetype')
}

@font-face{
    font-family: 'RNS_Sanz';
    font-weight: bold ;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-Bold.woff2) format('woff2'),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-Bold.ttf) format("truetype")
}

@font-face {
    font-family: 'RNS_Sanz';
    font-weight: extrabold ;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-ExtraBold.woff2) format('woff2'),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-ExtraBold.ttf) format("truetype")
}

@font-face {
    font-family: 'RNS_Sanz';
    font-weight: lighter;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-Light.woff2) format('woff2'),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-Light.ttf) format("truetype")
}

@font-face {
    font-family: "RNS_Sanz";
    font-weight: medium;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-Medium.woff2) format('woff2'),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-Medium.ttf), format('truetype')
}

@font-face {
    font-family: "RNS_Sanz";
    font-weight: normal;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-Normal.woff2), format("woff2"),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-Normal.ttf), format('truetype')
}

@font-face{
    font-family: "RNS_Sanz";
    font-weight: semibold;
    src:    url(../../typographie/RNS_Sanz-WOOF2/RNSSanz-SemiBold.woff2), format("woff2"),
            url(../../typographie/RNS_Sanz-TTF/RNSSanz-SemiBold.ttf), format("truetype")
}