#home{
    ul{
        position: relative;
        top: 130px;

        h1{
            font-family: 'RNS_Sanz', sans-serif;
            font-weight: bold;
            color: black;
        }
    }

    img{
        width: 30%;
        margin-top: 150px;
    }

}