#register{
    width: 100%;
    height: 80vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;

    h1{
        font-size: 28px;
        width: 350px;
        color: #F26513;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        
        strong{
            font-size: 28px;
            text-align: center;
            width: 550px;
            color: #020C1E;
        }
    }

    div{
        width: 30%;
        background: #D8C7B7;
        display: flex;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 10px;
        height: 40px;

        input{
            padding: 10px;
        }
    }

    div:nth-child(2){
        margin-top: 40px;
    }

    div:nth-child(3){
        
        background: none;
        
    }

    form{
        width: 80%;
        height: 100%;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    button{
        width: 14%;
        background: #F26513;
        padding: 10px;
        border: none;
        color: white;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
            background: white;
            border: 1px solid #F26513;
            color: #F26513;
        }
    }
}