{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}





<section id="contac">
           
    {% for message in app.flashes('success') %}
    <div class="flash-info">
        {{ message }}
    </div>
    {% endfor %}

    <article>
    <h1>Contactez <strong>nous</strong></h1>
       <div>
           {{form(ajoutContact)}}
       </div>
    </article>
    
</section>





{% endblock %}
